<% @produto.errors.full_messages.each do |msg| %>
    <div class="alert alert-danger" role="alert">
        <%= msg %>
    </div>
<% end %>

<%= form_for @produto do |form|%>
    <div class="row">
        <div class="col-sm-8">
            <%= form.label :nome %>
            <%= form.text_field :nome, class:"form-control" %>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <%= form.label :descricao %>
            <%= form.text_area :descricao, class:"form-control", rows: 4 %>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <div class="form-group">
                <%= form.label :departamento %>
                <%= form.collection_select :departamento_id, @departamentos, :id, :nome, {}, class: "form-control" %>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <%= form.label :preco %>
            <%= form.number_field :preco, class:"form-control", step: 0.01 %>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <%= form.label :quantidade %>
            <%= form.number_field :quantidade, class:"form-control" %>
        </div>
    </div>

    <%= form.submit texto_da_acao, class:"btn btn-primary"%>


<% end %>
