<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<%= nav_bar brand: "Loja", brand_link: root_url  %>
<div class="container">
    <body>
        <table class="table table-border table-hover">
            <thead>
                <tr>
                    <td>Nome</td>
                    <td>Descrição</td>
                    <td>Preço</td>
                    <td>Quantidade</td>
                </tr>
            </thead>
            <tbody>
                <% @produtos.each do |produto|%>
                <tr>
                    <td><%= produto.nome %></td>
                    <td><%= produto.descricao %></td>
                    <td><%= produto.preco %></td>
                    <td><%= produto.quantidade %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
        <div class="alert alert-success" role="alert">
            <h4 class="laert-heading">Produtos com desconto</h4>
        </div>
        <table class="table table-border table-hover">
            <thead>
                <tr>
                    <td>Nome</td>
                    <td>Descrição</td>
                    <td>Preço</td>
                    <td>Quantidade</td>
                </tr>
            </thead>
            <tbody>
                <% @produtos_com_desconto.each do |produto|%>
                <tr>
                    <td><%= produto.nome %></td>
                    <td><%= produto.descricao %></td>
                    <td><%= produto.preco %></td>
                    <td><%= produto.quantidade %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </body>
</div>


</html>